#root {
  width: 100%;
  height: 100%;
}

.profile-photo-container {
  flex: 0 0 150px;
}

@media only screen and (max-width: 576px) {
  .profile-photo-container {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
